<?xml version="1.0"?>
<portlets>

  <portlet
      addview="{{ package_name }}.{{ portlet_name }}"
      title="{{ portlet_name }}"
      description="{{ portlet_description }}"
      />

</portlets>
