{
  "name": "{{ theme_id }}",
  "version": "0.1.0",
  "description": "{{ theme_description }}",
  "scripts": {
    "build": "sass scss/theme.scss css/theme.css"
  },
  "devDependencies": {
    "sass": "^1.70.0"
  }
}
