<?xml version="1.0"?>
<registry>

  <records interface="{{ package_name }}.controlpanels.{{ controlpanel_module }}.I{{ controlpanel_name }}Settings"
           prefix="{{ package_name }}.{{ controlpanel_name | lower }}">
  </records>

</registry>
