<?xml version="1.0"?>
<object name="portal_controlpanel" meta_type="Plone Control Panel Tool">

  <configlet
      title="{{ controlpanel_title }}"
      action_id="{{ controlpanel_url_id }}"
      appId="{{ package_name }}"
      category="Products"
      condition_expr=""
      url_expr="string:${portal_url}/@@{{ controlpanel_url_id }}"
      visible="True"
      i18n:attributes="title"
      i18n:domain="{{ package_name }}"
      xmlns:i18n="http://xml.zope.org/namespaces/i18n">
    <permission>Manage portal</permission>
  </configlet>

</object>
