<?xml version="1.0" encoding="UTF-8"?>
<registry>
  <record name="plone.displayed_types">
    <value purge="false">
      <element>{{ content_type_class }}</element>
    </value>
  </record>
</registry>
