"""Tests for {{ view_class_name }} view."""
import pytest

from plone import api
from plone.app.testing import setRoles
from plone.app.testing import TEST_USER_ID
from zope.component import getMultiAdapter
from zope.publisher.browser import TestRequest

from {{ package_name }}.testing import INTEGRATION_TESTING
{%- if view_marker %}
from {{ package_name }}.views.{{ view_module }} import I{{ view_class_name }}
{%- endif %}


class TestView{{ view_class_name }}:
    """Test {{ view_class_name }} view."""

    layer = INTEGRATION_TESTING

    @pytest.fixture(autouse=True)
    def _setup(self, integration_testing):
        self.portal = integration_testing["portal"]
        setRoles(self.portal, TEST_USER_ID, ["Manager"])
        self.doc = api.content.create(
            container=self.portal,
            type="Document",
            id="test-doc",
            title="Test Document",
        )

    def test_view_registered(self):
        """Test view is registered."""
        request = TestRequest()
        view = getMultiAdapter(
            (self.doc, request),
            name="{{ view_name }}",
        )
        assert view is not None

    def test_view_name(self):
        """Test view __name__."""
        request = TestRequest()
        view = getMultiAdapter(
            (self.doc, request),
            name="{{ view_name }}",
        )
        assert view.__name__ == "{{ view_name }}"
{%- if view_marker %}

    def test_view_marker_interface(self):
        """Test view provides marker interface."""
        request = TestRequest()
        view = getMultiAdapter(
            (self.doc, request),
            name="{{ view_name }}",
        )
        assert I{{ view_class_name }}.providedBy(view)
{%- endif %}
