msgid ""
msgstr ""
"Project-Id-Version: {{ package_name }}\n"
"POT-Creation-Date: {{ current_date }}\n"
"PO-Revision-Date: {{ current_date }}\n"
"Last-Translator: {{ author_name }} <{{ author_email }}>\n"
"Language-Team: Plone <dev@plone.org>\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=utf-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"Language-Code: en\n"
"Language-Name: English\n"
"Preferred-Encodings: utf-8 latin1\n"
"Domain: {{ package_name }}\n"
"X-Is-Fallback-For: en-au en-gb en-us en-ca\n"
