"""{{ upgrade_step_title }}."""
import logging

from .base import reload_gs_profile

logger = logging.getLogger(__name__)


def upgrade(context):
    """{{ upgrade_step_description }}

    Upgrade from profile version {{ source_version }} to {{ destination_version }}.
    """
    logger.info("Running upgrade step: {{ upgrade_step_title }}")
    reload_gs_profile(context)
