<configure
    xmlns="http://namespaces.zope.org/zope"
    xmlns:genericsetup="http://namespaces.zope.org/genericsetup"
    i18n_domain="{{ package_name }}">

  <genericsetup:upgradeStep
      title="{{ upgrade_step_title }}"
      description="{{ upgrade_step_description }}"
      source="{{ source_version }}"
      destination="{{ destination_version }}"
      handler=".v{{ destination_version }}.upgrade"
      profile="{{ package_name }}:default"
      />

</configure>
