<?xml version="1.0"?>
<registry>

  <record field="default_language"
          interface="plone.i18n.interfaces.ILanguageSchema"
          name="plone.default_language">
    <value>{{ language }}</value>
  </record>

</registry>
