<?xml version="1.0"?>
<registry>

  <record field="email_from_name"
          interface="plone.base.interfaces.controlpanel.IMailSchema"
          name="plone.email_from_name">
    <value>{{ site_name }}</value>
  </record>

  <record field="email_from_address"
          interface="plone.base.interfaces.controlpanel.IMailSchema"
          name="plone.email_from_address">
    <value>noreply@example.com</value>
  </record>

</registry>
