<?xml version="1.0"?>
<registry>

  <record field="site_title"
          interface="plone.base.interfaces.controlpanel.ISiteSchema"
          name="plone.site_title">
    <value>{{ site_name }}</value>
  </record>

</registry>
