"""{{ subscriber_handler_name }} event handler.

{{ subscriber_description }}
"""
import logging

from zope.globalrequest import getRequest

logger = logging.getLogger("{{ package_name }}")


def handler(obj, event):
    """Handle ``{{ subscriber_event.rsplit('.', 1)[1] }}`` for ``{{ subscriber_for.rsplit('.', 1)[1] }}``.

    Replace this body with your actual reaction to the event.
    """
    # Guard: only run when our add-on's browser layer is active.
    # Uncomment and adjust after adding a browser layer to your package:
    # from {{ package_name }}.interfaces import I{{ package_name.replace('.', ' ').title().replace(' ', '') }}Layer
    # request = getRequest()
    # if not request or not I{{ package_name.replace('.', ' ').title().replace(' ', '') }}Layer.providedBy(request):
    #     return

    logger.info(
        "{{ subscriber_handler_name }}: %s fired on %s",
        event.__class__.__name__,
        getattr(obj, "absolute_url", lambda: repr(obj))(),
    )
