%define INSTANCEHOME {{ instance_home }}
instancehome $INSTANCEHOME

%define CLIENTHOME {{ instance_home }}
clienthome $CLIENTHOME

debug-mode off
security-policy-implementation C
verbose-security off

default-zpublisher-encoding utf-8

{%- if db_storage == "instance" %}
<zodb_db main>
    <filestorage>
        path $CLIENTHOME/var/Data.fs
        blob-dir $CLIENTHOME/var/blobs
    </filestorage>
    mount-point /
</zodb_db>
{%- elif db_storage == "relstorage" %}
<zodb_db main>
    <relstorage>
        <postgresql>
            dsn host={{ pg_host }} port={{ pg_port }} dbname={{ pg_dbname }} user={{ pg_user }}{% if pg_password %} password={{ pg_password }}{% endif %}
        </postgresql>
        blob-dir $CLIENTHOME/var/blobs
        shared-blob-dir false
    </relstorage>
    mount-point /
</zodb_db>
{%- elif db_storage == "zeo" %}
<zodb_db main>
    <zeoclient>
        server {{ zeo_address }}
        blob-dir $CLIENTHOME/var/blobs
        shared-blob-dir on
    </zeoclient>
    mount-point /
</zodb_db>
{%- endif %}
