<tal:viewlet xmlns:tal="http://xml.zope.org/namespaces/tal"
             xmlns:metal="http://xml.zope.org/namespaces/metal"
             xmlns:i18n="http://xml.zope.org/namespaces/i18n"
             i18n_domain="{{ package_name }}">
  <div class="{{ viewlet_name }}">
    <h3>{{ viewlet_class_name }}</h3>
    <p>{{ viewlet_description }}</p>
  </div>
</tal:viewlet>
