<configure
    xmlns="http://namespaces.zope.org/zope"
    xmlns:browser="http://namespaces.zope.org/browser"
    i18n_domain="{{ package_name }}">

  <browser:page
      name="{{ form_name }}"
      for="{{ form_for }}"
      class=".{{ form_module }}.{{ form_class_name }}"
      permission="zope2.View"
      />

</configure>
