<?xml version="1.0" encoding="UTF-8"?>
<object
    xmlns:i18n="http://xml.zope.org/namespaces/i18n"
    name="{{ content_type_class }}"
    meta_type="Dexterity FTI"
    i18n:domain="{{ package_name }}">

  <property name="title" i18n:translate="">{{ content_type_name }}</property>
  <property name="description" i18n:translate="">{{ content_type_description }}</property>
  <property name="icon_expr">string:plone-content-icon {{ content_type_icon }}</property>
  <property name="factory">{{ content_type_class }}</property>
  <property name="add_view_expr">string:${folder_url}/++add++{{ content_type_class }}</property>
  <property name="link_target"></property>
  <property name="immediate_view">view</property>
  <property name="global_allow">{{ global_allow | string | title }}</property>
{%- if content_type_base == 'Container' %}
  <property name="filter_content_types">{{ filter_content_types | string | title }}</property>
{%- else %}
  <property name="filter_content_types">True</property>
{%- endif %}
  <property name="allowed_content_types"/>
  <property name="allow_discussion">False</property>
  <property name="default_view">view</property>
  <property name="view_methods">
    <element value="view"/>
  </property>
  <property name="default_view_fallback">False</property>
  <property name="add_permission">cmf.AddPortalContent</property>
  <property name="klass">{{ package_name }}.content.{{ content_type_module }}.{{ content_type_class }}</property>
  <property name="schema">{{ package_name }}.content.{{ content_type_module }}.{{ content_type_interface }}</property>
  <property name="model_source"></property>
  <property name="model_file"></property>
  <property name="behaviors">
{%- if activate_default_behaviors %}
    <element value="plone.basic"/>
    <element value="plone.namefromtitle"/>
    <element value="plone.allowdiscussion"/>
    <element value="plone.excludefromnavigation"/>
    <element value="plone.shortname"/>
    <element value="plone.dublincore"/>
    <element value="plone.ownership"/>
    <element value="plone.publication"/>
    <element value="plone.categorization"/>
    <element value="plone.locking"/>
    <element value="plone.textindexer"/>
    <element value="plone.relateditems"/>
    <element value="plone.versioning"/>
{%- if content_type_base == 'Container' %}
    <element value="plone.constraintypes"/>
    <element value="plone.nextprevioustoggle"/>
    <element value="plone.nextpreviousenabled"/>
    <element value="plone.navigationroot"/>
{%- endif %}
{%- else %}
{%- if enable_dublin_core %}
    <element value="plone.dublincore"/>
{%- endif %}
{%- if enable_navigation %}
    <element value="plone.excludefromnavigation"/>
{%- endif %}
    <element value="plone.namefromtitle"/>
{%- endif %}
  </property>

  <alias from="(Default)" to="(dynamic view)"/>
  <alias from="edit" to="@@edit"/>
  <alias from="sharing" to="@@sharing"/>

  <action title="View"
          action_id="view"
          category="object"
          condition_expr=""
          icon_expr=""
          link_target=""
          url_expr="string:${object_url}"
          visible="True">
    <permission value="View"/>
  </action>
  <action title="Edit"
          action_id="edit"
          category="object"
          condition_expr="not:object/@@plone_lock_info/is_locked_for_current_user|python:True"
          icon_expr=""
          link_target=""
          url_expr="string:${object_url}/edit"
          visible="True">
    <permission value="Modify portal content"/>
  </action>

</object>
