<configure
    xmlns="http://namespaces.zope.org/zope"
    xmlns:browser="http://namespaces.zope.org/browser"
    i18n_domain="{{ package_name }}">

  <browser:page
      name="{{ controlpanel_url_id }}"
      for="Products.CMFPlone.interfaces.IPloneSiteRoot"
      class=".{{ controlpanel_module }}.{{ controlpanel_name }}ControlPanelView"
      permission="cmf.ManagePortal"
      />

</configure>
