<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ theme_name }}</title>
    <link rel="stylesheet" href="css/theme.css" />
  </head>
  <body>
    <header><h1>{{ theme_name }}</h1></header>
    <main></main>
    <footer></footer>
  </body>
</html>
