<script>
  export let title = "{{ svelte_app_name }}";
  let count = 0;
</script>

<main>
  <h1>{title}</h1>
  <p>{{ svelte_app_description }}</p>
  <button on:click={() => count++}>Clicked {count} time{count === 1 ? '' : 's'}</button>
</main>

<style>
  main { font-family: sans-serif; padding: 1rem; }
  h1 { color: #007eb6; }
</style>
