<configure
    xmlns="http://namespaces.zope.org/zope"
    xmlns:browser="http://namespaces.zope.org/browser"
    i18n_domain="{{ package_name }}">

  <browser:page
      name="{{ view_name }}"
      for="{{ view_for_interface }}"
      class=".{{ view_module }}.{{ view_class_name }}"
      permission="zope2.View"
      />

</configure>
