[theme]
title = {{ theme_name }}
description = {{ theme_description }}
rules = /++theme++{{ theme_id }}/rules.xml
prefix = /++theme++{{ theme_id }}
doctype = <!DOCTYPE html>
enabled-bundles =
disabled-bundles =
