"""Tests for {{ viewlet_class_name }} viewlet."""
import pytest

from plone import api
from plone.app.testing import setRoles
from plone.app.testing import TEST_USER_ID
from zope.component import queryMultiAdapter
from zope.publisher.browser import TestRequest
from zope.viewlet.interfaces import IViewletManager

from {{ package_name }}.testing import INTEGRATION_TESTING


class TestViewlet{{ viewlet_class_name }}:
    """Test {{ viewlet_class_name }} viewlet."""

    layer = INTEGRATION_TESTING

    @pytest.fixture(autouse=True)
    def _setup(self, integration_testing):
        self.portal = integration_testing["portal"]
        setRoles(self.portal, TEST_USER_ID, ["Manager"])
        self.request = TestRequest()

    def test_viewlet_registered(self):
        """Test viewlet is registered in the manager."""
        view = queryMultiAdapter(
            (self.portal, self.request),
            name="plone",
        )
        manager = queryMultiAdapter(
            (self.portal, self.request, view),
            IViewletManager,
            name="{{ viewlet_manager }}",
        )
        if manager is not None:
            manager.update()
            viewlet_names = [v.__name__ for v in manager.viewlets]
            assert "{{ viewlet_name }}" in viewlet_names
