<?xml version="1.0"?>
<registry>
  <records
      interface="Products.CMFPlone.interfaces.IBundleRegistry"
      prefix="plone.bundles/{{ svelte_app_module }}"
      remove="true"
      />
</registry>
