"""Tests for {{ content_type_name }} content type."""
import pytest

from plone import api
from plone.app.testing import setRoles
from plone.app.testing import TEST_USER_ID
from plone.dexterity.fti import DexterityFTI
from zope.component import queryUtility

from {{ package_name }}.testing import INTEGRATION_TESTING


class TestContentType{{ content_type_class }}:
    """Test {{ content_type_name }} content type."""

    layer = INTEGRATION_TESTING

    @pytest.fixture(autouse=True)
    def _setup(self, integration_testing):
        self.portal = integration_testing["portal"]
        setRoles(self.portal, TEST_USER_ID, ["Manager"])

    def test_fti(self):
        """Test FTI is installed."""
        fti = queryUtility(DexterityFTI, name="{{ content_type_portal_type }}")
        assert fti is not None

    def test_fti_title(self):
        """Test FTI title."""
        fti = queryUtility(DexterityFTI, name="{{ content_type_portal_type }}")
        assert fti.title == "{{ content_type_name }}"

    def test_schema(self):
        """Test schema interface."""
        fti = queryUtility(DexterityFTI, name="{{ content_type_portal_type }}")
        schema = fti.lookupSchema()
        assert schema.getName() == "{{ content_type_interface }}"

    def test_factory(self):
        """Test content factory."""
        fti = queryUtility(DexterityFTI, name="{{ content_type_portal_type }}")
        factory = fti.factory
        obj = api.content.create(
            container=self.portal,
            type="{{ content_type_portal_type }}",
            id="test-{{ content_type_module }}",
            title="Test {{ content_type_name }}",
        )
        assert obj is not None
        assert obj.portal_type == "{{ content_type_portal_type }}"

    def test_adding(self):
        """Test content can be added."""
        obj = api.content.create(
            container=self.portal,
            type="{{ content_type_portal_type }}",
            id="test-{{ content_type_module }}",
            title="Test {{ content_type_name }}",
        )
        assert obj.id == "test-{{ content_type_module }}"

    def test_deleting(self):
        """Test content can be deleted."""
        obj = api.content.create(
            container=self.portal,
            type="{{ content_type_portal_type }}",
            id="test-{{ content_type_module }}",
            title="Test {{ content_type_name }}",
        )
        api.content.delete(obj=obj)
        assert "test-{{ content_type_module }}" not in self.portal.objectIds()

    def test_global_allow(self):
        """Test content type global_allow setting."""
        fti = queryUtility(DexterityFTI, name="{{ content_type_portal_type }}")
        assert fti.global_allow is {{ global_allow | string | title }}
